.img{
    background-image: url(https://media.istockphoto.com/id/1411846545/photo/fairy-autumn-forest-in-the-mountains-beautiful-nature-landscape.jpg?s=612x612&w=is&k=20&c=NtAOGuivSShgpGCUWyH6e1qExIf9jBzULfkxwI8h3E4=);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
#btn2{
    border: 2px solid red;
    border-radius: 10px;
    background-color: green;
    /* padding: 14px 28px; */
    font-size: 15px;
    cursor: pointer;
    /* position: absolute; */
    /* display: flex;
    /* margin: 10px; */
    /* justify-content: center; */ 
    display: inline-block;
    float: inline-start;
    margin-bottom: 10px;
    margin-left: 550px;

}

.btn1{
    float: right;
    /* margin-bottom: 20px; */
    /* background-color: ; */
    justify-content: space-between;
    margin: 10px;
}
.nav{
    background-color: rgba(0, 0, 255, 0.363);

    
}
.box1{
    border: 5px solid black;
    background-color: gray;
    width: 200px;
    height: 200px;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}
@media screen and (min-width:300px) and (max-width:1000px){
    .container{
        display: flex;
        /* flex-direction: row; */
        justify-content: space-evenly;
        flex-direction: column;
    }
    
}
.btn{
    border: 2px solid red;
    border-radius: 10px;
    background-color: green;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}
.btn:hover{
    background: #eee;
}
@media screen and (min-width:300px) and (max-width:600px){
    .btn{
        background-color: red;
    }

}
@media screen and (min-width:600px) and (max-width:1200px){
    .btn{
        background-color: red;
    }

}
@media screen and (min-width:1200px) and (max-width:2000px){
    .btn{
        background-color: red;
    }

}
.flex-container{
       display: flex;
       flex-direction: row-reverse;
       margin-top: 80px;
       flex-wrap: wrap;
       flex-flow: row wrap;
       justify-content: center;
       justify-content: space-evenly;
       /* justify-content: end; */

}
.flex-item{
    border: 2px solid black;
    background-color: aqua;
    width: 100px;
    height: 100px;
}